.wysiwyg {
  word-break: break-word;
}
.wysiwyg * {
  box-sizing: border-box;
}

.wysiwyg a {
  color: hsl(var(--secondary-foreground));
  text-decoration: underline;
  /* text-underline-offset: 3px; */
}

.wysiwyg p {
  margin: 0 0 1em 0;
  color: hsl(var(--muted-foreground));
}

.wysiwyg ul,
.wysiwyg ol {
  margin: 1em 0 1em 1.25em;
  padding: 0;
}

.wysiwyg ul {
  list-style: disc;
}
.wysiwyg ol {
  list-style: decimal;
}

.wysiwyg blockquote {
  margin: 1.2em 0;
  padding-left: 1rem;
  border-left: 3px solid hsl(var(--muted-foreground));
  border-radius: 0.2rem;
  color: hsl(var(--muted-foreground));
}

.wysiwyg table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  margin: 1rem 0;
}

.wysiwyg th,
.wysiwyg td {
  border: 1px solid hsl(var(--border));
  padding: 0.625rem 0.75rem;
  text-align: left;
}

.wysiwyg thead th {
  background: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  font-weight: 600;
}

.wysiwyg hr {
  border: 0;
  border-top: 1px solid hsl(var(--border));
  margin: 1.5rem 0;
}

.wysiwyg h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.wysiwyg h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.25rem 0;
}

.wysiwyg h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}
